
<div class="row justify-content-center p-4">
    
    <div class="col-md-6 ">
<form class="justify-content-center" action="/auth/register" method="post">
<h1 class="title text-center my-5">Register</h1>
<input 
    type="text" 
    name="userName" 
    class="form-control my-4 p-3"
    placeholder="Ingrese Nombre"
    value="julio cesar"
    >
<input 
    type="text" 
    name="email" 
    class="form-control my-4 p-3"
    placeholder="Ingrese Email"
    value="julio.cesar@mail.com"
    >
<input 
    type="password" 
    name="password" 
    class="form-control my-4 p-3"
    placeholder="Ingrese Password"
    value="123123"
    >
<input 
    type="password" 
    name="repassword" 
    class="form-control my-4 p-3"
    placeholder="Repita Password"
    value="123123"
    >
    <button class="btn btn-primary justify-content-center" type="submit">Registrar Usuario</button>


</form>
    </div>
</div>
